<h2><%= l(:label_term) %> #<%= @term.id %></h2>

<% form = labelled_form_for @term, :as => :term,
                             :url => {:action => 'edit', :project_id => @project, :id => @term},
                             :html => {:class => 'tabular', :multipart => true, :id => 'term-form'} do |f| %>
    <%= error_messages_for 'term' %>
    <div class="box">
    <%= render :partial => 'glossary/form', :locals => {:f => f} %>
    </div>
    <%= submit_tag l(:button_edit) %>
<% end %>
<%= form if Rails::VERSION::MAJOR >= 3 %>

<div id="preview" class="wiki"></div>

<% html_title(l(:glossary_title)) -%>
